.form-group {
  @extend %clearfix;
  clear: both;
}

.form-group__label {
  
}

.form-group__controls {
  margin: 0;
}

// ==========================================================================
//  modifiers
// ==========================================================================

.form-group--inline {

  .form-group__label {
    float: left;
    line-height: $spacing-unit * 3;
  }

  .form-group__controls {
    margin-left: 100px;
  }

}
