// ==========================================================================
//  Config
// ==========================================================================

$color-baseline-grid: #005cff;

// ==========================================================================
//  Block
// ==========================================================================

.baseline-grid {
  height: 2000px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

// ==========================================================================
//  Block elements
// ==========================================================================

.baseline-grid__lines {
  background-image: linear-gradient(transparent $t-base-line-height - 1, rgba($color-baseline-grid,.1) 1px);
  background-size: 100% $t-base-line-height;
  height: 100%;
  width: 100%;
}

.baseline-grid__toggle {
  background-color: rgba($color-baseline-grid, .3);
  height: 30px;
  opacity: 0;
  pointer-events: initial;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .15s linear;
  width: 30px;

  &:hover {
    opacity: 1;
  }
}
