// ==========================================================================
//  Block
// ==========================================================================

.col {
  float: left;
  padding-left: $grid-col-spacing;
}

// ==========================================================================
//  Modifiers
// ==========================================================================

@for $i from 1 through $grid-col-number {
  .col--#{$i} {
    width: percentage($i/$grid-col-number);
  }
}

