// ==========================================================================
//  Font declarations
// ==========================================================================

$f-fallbacks:                    sans-font, helvetica, arial, sans-serif;

// ==========================================================================
//  Layout
// ==========================================================================

$l-app-width:                    960px;


//  Default spacing unit
// --------------------------------------------------------------------------
$spacing-unit:                   12px;
