// ==========================================================================
//  Font declarations
// ==========================================================================

$f-fallbacks:                    sans-font, helvetica, arial, sans-serif;


// ==========================================================================
//  Colors
// ==========================================================================

$color-grey:                     #666;
$color-grey-light:               adjust-color($color-grey, $lightness: 50);

// ==========================================================================
//  Layout
// ==========================================================================

$l-app-width:                    960px;


//  Default spacing unit
// --------------------------------------------------------------------------
$spacing-unit:                   12px;
