// ==========================================================================
//  Font declarations
// ==========================================================================

$font-fallbacks:                 sans-font, helvetica, arial, sans-serif;

// ==========================================================================
//  Layout
// ==========================================================================

$layout-app-width:               960px;

// ==========================================================================
//  Typography
// ==========================================================================

$base-line-height:               12px;

// ==========================================================================
//  Modular scale
// ==========================================================================

$ms-base:                        16px;
$ms-ratio:                       $golden;

