// ==========================================================================
//  Font declarations
// ==========================================================================

$f-fallbacks:                 sans-font, helvetica, arial, sans-serif;

// ==========================================================================
//  Layout
// ==========================================================================

$l-app-width:                    960px;

// ==========================================================================
//  Typography
// ==========================================================================

$t-base-line-height:               12px;

// ==========================================================================
//  Modular scale
// ==========================================================================

