// ==========================================================================
//  Font declarations
// ==========================================================================

$f-fallbacks:                 sans-font, helvetica, arial, sans-serif;

// ==========================================================================
//  Layout
// ==========================================================================

$l-app-width:                    960px;
$l-col-spacing:                  20px;

// ==========================================================================
//  Typography
// ==========================================================================

$t-base-line-height:               12px;

// ==========================================================================
//  Modular scale
// ==========================================================================

$ms-base:                        16px;
$ms-ratio:                       $golden;

