// ==========================================================================
//  Typographic scale
// ==========================================================================
%t-xx-large {
  font-size: ms(4);
  line-height: $t-base-line-height * 9;
}

%t-x-large {
  font-size: ms(3);
  line-height: $t-base-line-height * 6;
}

%t-large {
  font-size: ms(2);
  line-height: $t-base-line-height * 4;
}

%t-medium {
  font-size: ms(1);
  line-height: $t-base-line-height * 3;
}

%t-base {
  font-size: ms(0);
}

%t-small {
  font-size: 12px;
}

// ==========================================================================
//  Base
// ==========================================================================
h1 {
  @extend %t-xx-large;
  margin: $t-base-line-height 0 ($t-base-line-height * 3) 0;
}

h2 {
  @extend %t-x-large;
  margin: $t-base-line-height 0 ($t-base-line-height * 3) 0;
}

h3 {
  @extend %t-large;
  margin: $t-base-line-height 0 ($t-base-line-height * 2) 0;
}

h4 {
  @extend %t-medium;
  margin: $t-base-line-height 0 ($t-base-line-height * 2) 0;
}

p {
  @extend %t-base;
  margin: $t-base-line-height 0;
}

small {
  @extend %t-small;
  display: block;
  margin: $t-base-line-height 0;
}
