// ==========================================================================
//  modular scale
// ==========================================================================
$ms-base:                          16px;
$ms-ratio:                         $fourth;

// ==========================================================================
//  typography
// ==========================================================================
$base-line-height:                 1.5;

$spacing-unit:                     round((ms(0) * $base-line-height) / 2);

$xx-large-font-size:               ms(4);
$xx-large-line-height-multiplier:  nil;

$x-large-font-size:                ms(3);
$x-large-line-height-multiplier:   nil;

$large-font-size:                  ms(2);
$large-line-height-multiplier:     nil;

$medium-font-size:                 ms(1);
$medium-line-height-multiplier:    nil;

$base-font-size:                   ms(0);
$base-line-height-multiplier:      nil;

$small-font-size:                  ms(-1);
$small-line-height-multiplier:     nil;

