// ==========================================================================
//  Config
// ==========================================================================

$layout-col-spacing: 20px;

// ==========================================================================
//  Block
// ==========================================================================

.col {
  float: left;
  padding-left: $layout-col-spacing;
}

// ==========================================================================
//  Modifiers
// ==========================================================================

@for $i from 1 through 12 {
  .col--#{$i} {
    width: percentage($i/12);
  }
}

